<?xml version="1.0" encoding="UTF-8"?>
<OpenModelicaModelDescription
  xmlns:exp="https://svn.jmodelica.org/trunk/XML/daeExpressions.xsd"
  xmlns:equ="https://svn.jmodelica.org/trunk/XML/daeEquations.xsd"
  xmlns:fun="https://svn.jmodelica.org/trunk/XML/daeFunctions.xsd"
  xmlns:opt="https://svn.jmodelica.org/trunk/XML/daeOptimization.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  fmiVersion="1.0"
  modelName="System"
  modelIdentifier="System"
  guid="{bc86976d-23af-4a89-9ed4-cc58423c5592}"
  generationDateAndTime="2020-11-30T00:34:00"
  variableNamingConvention="structured"
  numberOfContinuousStates="1"
  numberOfEventIndicators="0"
  >
  
  <VendorAnnotations>
    <Tool name="OpenModelica Compiler OpenModelica 1.16.1"> </Tool>
  </VendorAnnotations>

  <DefaultExperiment startTime="0.0" stopTime="1.0" tolerance="1e-06" />

  <ModelVariables>
    <ScalarVariable name="x"  valueReference="0" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>state</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="der(x)"  valueReference="1" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>derivative</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="$cse1"  valueReference="2" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="$cse1"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="$cse2"  valueReference="3" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="$cse2"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="v1"  valueReference="4" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="v1"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="v2"  valueReference="5" variability="continuous" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="v2"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="alpha"  valueReference="6" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="0.1" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="alpha"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="beta"  valueReference="7" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="10.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="beta"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 
  </ModelVariables>

  <equ:BindingEquations>
    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="alpha"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>0.1</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="beta"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>10.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>
  </equ:BindingEquations>

  <equ:DynamicEquations>
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$cse1"/>
        </exp:Identifier>
        <exp:Sin>
          <exp:Identifier>
            <exp:QualifiedNamePart name="x"/>
          </exp:Identifier>
        </exp:Sin>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$cse2"/>
        </exp:Identifier>
        <exp:Cos>
          <exp:Pow>
            <exp:Identifier>
              <exp:QualifiedNamePart name="x"/>
            </exp:Identifier>
            <exp:RealLiteral>2.0</exp:RealLiteral>
          </exp:Pow>
        </exp:Cos>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="v2"/>
        </exp:Identifier>
        <exp:Mul>
          <exp:Identifier>
            <exp:QualifiedNamePart name="x"/>
          </exp:Identifier>
          <exp:Identifier>
            <exp:QualifiedNamePart name="beta"/>
          </exp:Identifier>
        </exp:Mul>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="v1"/>
        </exp:Identifier>
        <exp:Mul>
          <exp:Identifier>
            <exp:QualifiedNamePart name="alpha"/>
          </exp:Identifier>
          <exp:Div>
            <exp:Identifier>
              <exp:QualifiedNamePart name="$cse1"/>
            </exp:Identifier>
            <exp:Add>
              <exp:Mul>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="v2"/>
                </exp:Identifier>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="beta"/>
                </exp:Identifier>
              </exp:Mul>
              <exp:Identifier>
                <exp:QualifiedNamePart name="$cse2"/>
              </exp:Identifier>
            </exp:Add>
          </exp:Div>
        </exp:Mul>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Der>
          <exp:Identifier>
            <exp:QualifiedNamePart name="x"/>
          </exp:Identifier>
        </exp:Der>
        <exp:Mul>
          <exp:Identifier>
            <exp:QualifiedNamePart name="v1"/>
          </exp:Identifier>
          <exp:Identifier>
            <exp:QualifiedNamePart name="v2"/>
          </exp:Identifier>
        </exp:Mul>
      </exp:Sub>
    </equ:Equation>  
  </equ:DynamicEquations>

  <equ:InitialEquations>
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
        <exp:RealLiteral>0.1</exp:RealLiteral>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
         
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="v1"/>
        </exp:Identifier>
        <exp:Mul>
          <exp:Identifier>
            <exp:QualifiedNamePart name="alpha"/>
          </exp:Identifier>
          <exp:Div>
            <exp:Sin>
              <exp:Identifier>
                <exp:QualifiedNamePart name="x"/>
              </exp:Identifier>
            </exp:Sin>
            <exp:Add>
              <exp:Mul>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="v2"/>
                </exp:Identifier>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="beta"/>
                </exp:Identifier>
              </exp:Mul>
              <exp:Cos>
                <exp:Pow>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  <exp:RealLiteral>2.0</exp:RealLiteral>
                </exp:Pow>
              </exp:Cos>
            </exp:Add>
          </exp:Div>
        </exp:Mul>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
         
      </exp:Sub>
    </equ:Equation>  
  </equ:InitialEquations>

  <fun:Algorithm>
  </fun:Algorithm>

  <fun:RecordsList>
  </fun:RecordsList>

  <fun:FunctionsList>
  </fun:FunctionsList>


</OpenModelicaModelDescription>