<?xml version="1.0" encoding="UTF-8"?>
<OpenModelicaModelDescription
  xmlns:exp="https://svn.jmodelica.org/trunk/XML/daeExpressions.xsd"
  xmlns:equ="https://svn.jmodelica.org/trunk/XML/daeEquations.xsd"
  xmlns:fun="https://svn.jmodelica.org/trunk/XML/daeFunctions.xsd"
  xmlns:opt="https://svn.jmodelica.org/trunk/XML/daeOptimization.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  fmiVersion="1.0"
  modelName="system"
  modelIdentifier="system"
  guid="{3a0f5e56-0998-4cd9-8fa0-d1700d442056}"
  generationDateAndTime="2020-11-09T23:52:11"
  variableNamingConvention="structured"
  numberOfContinuousStates="0"
  numberOfEventIndicators="0"
  >
  
  <VendorAnnotations>
    <Tool name="OpenModelica Compiler OpenModelica 1.16.0"> </Tool>
  </VendorAnnotations>

  <DefaultExperiment startTime="0.0" stopTime="1.0" tolerance="1e-06" />

  <ModelVariables>
    <ScalarVariable name="m.y"  valueReference="0" variability="discrete" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="m"/>
        <exp:QualifiedNamePart name="y"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.counter"  valueReference="1" variability="discrete" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="counter"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.counter"  valueReference="2" variability="discrete" causality="internal" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="counter"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="k.u"  valueReference="3" variability="discrete" causality="internal" alias="noAlias">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="k"/>
        <exp:QualifiedNamePart name="u"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.x"  valueReference="4" variability="discrete" causality="internal" alias="noAlias">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.u"  valueReference="5" variability="discrete" causality="internal" alias="noAlias">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="u"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.x"  valueReference="6" variability="discrete" causality="internal" alias="noAlias">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="$whenCondition1" description="sample(3, 0.0, k.T)" valueReference="7" variability="discrete" causality="internal" alias="noAlias">
      <Boolean start="1" fixed="true"/>
      <QualifiedName>
        <exp:QualifiedNamePart name="$whenCondition1"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="$whenCondition2" description="m.w and not pre(m.w)" valueReference="8" variability="discrete" causality="internal" alias="noAlias">
      <Boolean />
      <QualifiedName>
        <exp:QualifiedNamePart name="$whenCondition2"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="$whenCondition3" description="sample(2, 0.0, q.T)" valueReference="9" variability="discrete" causality="internal" alias="noAlias">
      <Boolean />
      <QualifiedName>
        <exp:QualifiedNamePart name="$whenCondition3"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="$whenCondition4" description="sample(1, 0.0, p.T)" valueReference="10" variability="discrete" causality="internal" alias="noAlias">
      <Boolean />
      <QualifiedName>
        <exp:QualifiedNamePart name="$whenCondition4"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="m.w"  valueReference="11" variability="discrete" causality="internal" alias="noAlias">
      <Boolean />
      <QualifiedName>
        <exp:QualifiedNamePart name="m"/>
        <exp:QualifiedNamePart name="w"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="k.x"  valueReference="12" variability="discrete" causality="internal" alias="q.x">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="k"/>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="k.y"  valueReference="13" variability="discrete" causality="internal" alias="p.x">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="k"/>
        <exp:QualifiedNamePart name="y"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="m.x"  valueReference="14" variability="discrete" causality="internal" alias="p.x">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="m"/>
        <exp:QualifiedNamePart name="x"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="m.z"  valueReference="15" variability="discrete" causality="internal" alias="q.x">
      <Real />
      <QualifiedName>
        <exp:QualifiedNamePart name="m"/>
        <exp:QualifiedNamePart name="z"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>algebraic</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="k.T"  valueReference="16" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="3.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="k"/>
        <exp:QualifiedNamePart name="T"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.GreenTimer"  valueReference="17" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="6.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="GreenTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.OrangeTimer"  valueReference="18" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="3.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="OrangeTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.RedTimer"  valueReference="19" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="6.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="RedTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.T"  valueReference="20" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="0.1" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="T"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="p.c0"  valueReference="21" variability="parameter" causality="calculatedParameter" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="c0"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.ArrivalDelay"  valueReference="22" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="8.1" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="ArrivalDelay"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.BeforeTimer"  valueReference="23" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="1.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="BeforeTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.CrossingTimer"  valueReference="24" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="2.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="CrossingTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.PastTimer"  valueReference="25" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="1.0" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="PastTimer"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.T"  valueReference="26" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="0.1" fixed="true"    />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="T"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.c0"  valueReference="27" variability="parameter" causality="calculatedParameter" alias="noAlias">
      <Real     />
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="c0"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 
    <ScalarVariable name="p.x0"  valueReference="28" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="1" fixed="true"/>
      <QualifiedName>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="x0"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 

    <ScalarVariable name="q.x0"  valueReference="29" variability="parameter" causality="parameter" alias="noAlias">
      <Real start="1" fixed="true"/>
      <QualifiedName>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="x0"/>
      </QualifiedName>
    <isLinearTimedVariables>
      <TimePoint index="0" isLinear="true"/>
    </isLinearTimedVariables>
      <VariableCategory>independentParameter</VariableCategory>
    </ScalarVariable> 
  </ModelVariables>

  <equ:BindingEquations>
    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="k"/>
        <exp:QualifiedNamePart name="T"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>3.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="GreenTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>6.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="OrangeTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>3.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="RedTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>6.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="T"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>0.1</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="ArrivalDelay"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>8.1</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="BeforeTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>1.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="CrossingTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>2.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="PastTimer"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>1.0</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="T"/>
      </equ:Parameter>
      <equ:BindingExp>
        <exp:RealLiteral>0.1</exp:RealLiteral>
      </equ:BindingExp>
    </equ:BindingEquation>
    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="x0"/>
      </equ:Parameter>
      <equ:BindingExp>
        1
      </equ:BindingExp>
    </equ:BindingEquation>

    <equ:BindingEquation>
      <equ:Parameter>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="x0"/>
      </equ:Parameter>
      <equ:BindingExp>
        1
      </equ:BindingExp>
    </equ:BindingEquation>
  </equ:BindingEquations>

  <equ:DynamicEquations>
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="w"/>
        </exp:Identifier>
        <exp:And>
          <exp:LogEq>
            <exp:Identifier>
              <exp:QualifiedNamePart name="p"/>
              <exp:QualifiedNamePart name="x"/>
            </exp:Identifier>
            3
          </exp:LogEq>
          <exp:LogEq>
            <exp:Identifier>
              <exp:QualifiedNamePart name="q"/>
              <exp:QualifiedNamePart name="x"/>
            </exp:Identifier>
            2
          </exp:LogEq>
        </exp:And>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition1"/>
        </exp:Identifier>
        <exp:Sample>
          <exp:IntegerLiteral>3</exp:IntegerLiteral>
          <exp:RealLiteral>0.0</exp:RealLiteral>
          <exp:Identifier>
            <exp:QualifiedNamePart name="k"/>
            <exp:QualifiedNamePart name="T"/>
          </exp:Identifier>
        </exp:Sample>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="k"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
     
     
     
    <equ:When>
      <equ:Condition>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition1"/>
        </exp:Identifier>
      </equ:Condition>
      <equ:Equation>
          <exp:Sub>
            <exp:Identifier>
              <exp:QualifiedNamePart name="k"/>
              <exp:QualifiedNamePart name="u"/>
            </exp:Identifier>
            <fun:If>
              <fun:Condition>
                <exp:LogEq>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="q"/>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  1
                </exp:LogEq>
              </fun:Condition>
              <fun:Statements>
                <fun:If>
                  <fun:Condition>
                    <exp:LogEq>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="p"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                      1
                    </exp:LogEq>
                  </fun:Condition>
                  <fun:Statements>
                    2
                  </fun:Statements>
                  <fun:Else>
                    1
                  </fun:Else>
                </fun:If>
              </fun:Statements>
              <fun:Else>
                2
              </fun:Else>
            </fun:If>
          </exp:Sub>
      </equ:Equation>
    </equ:When>
  </equ:DynamicEquations>

  <equ:InitialEquations>
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition1"/>
        </exp:Identifier>
        <exp:BooleanLiteral>1</exp:BooleanLiteral>
      </exp:Sub>
    </equ:Equation>
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="w"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$START"/>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="w"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="x0"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="x0"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="x"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
         
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="k"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$START"/>
          <exp:QualifiedNamePart name="k"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="k"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="k"/>
          <exp:QualifiedNamePart name="u"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
         
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition1"/>
        </exp:Identifier>
        <exp:BooleanLiteral>0</exp:BooleanLiteral>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="y"/>
        </exp:Identifier>
        <exp:RealLiteral>0.0</exp:RealLiteral>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="y"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="m"/>
          <exp:QualifiedNamePart name="y"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="c0"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="q"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="c0"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
    <equ:Equation>
      <exp:Sub>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$PRE"/>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
        <exp:Identifier>
          <exp:QualifiedNamePart name="p"/>
          <exp:QualifiedNamePart name="counter"/>
        </exp:Identifier>
      </exp:Sub>
    </equ:Equation>  
     
     
     
  </equ:InitialEquations>

  <fun:Algorithm>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="counter"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="q"/>
            <exp:QualifiedNamePart name="counter"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="q"/>
        <exp:QualifiedNamePart name="x"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="q"/>
            <exp:QualifiedNamePart name="x"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition3"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="$whenCondition3"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition3"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Sample>
          <exp:IntegerLiteral>2</exp:IntegerLiteral>
          <exp:RealLiteral>0.0</exp:RealLiteral>
          <exp:Identifier>
            <exp:QualifiedNamePart name="q"/>
            <exp:QualifiedNamePart name="T"/>
          </exp:Identifier>
        </exp:Sample>
      </fun:Expression>
    </fun:Assign>
    <fun:When>
      <fun:Condition>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition3"/>
        </exp:Identifier>
      </fun:Condition>
      <fun:Statements>
        <fun:If>
          <fun:Condition>
            <exp:LogLeq>
              <exp:Pre>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="q"/>
                  <exp:QualifiedNamePart name="counter"/>
                </exp:Identifier>
              </exp:Pre>
              <exp:RealLiteral>0.0</exp:RealLiteral>
            </exp:LogLeq>
          </fun:Condition>
          <fun:Statements>
            <fun:If>
              <fun:Condition>
                <exp:LogEq>
                  <exp:Pre>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="q"/>
                      <exp:QualifiedNamePart name="x"/>
                    </exp:Identifier>
                  </exp:Pre>
                  1
                </exp:LogEq>
              </fun:Condition>
              <fun:Statements>
                <fun:If>
                  <fun:Condition>
                    <exp:LogEq>
                      <exp:Pre>
                        <exp:Identifier>
                          <exp:QualifiedNamePart name="q"/>
                          <exp:QualifiedNamePart name="u"/>
                        </exp:Identifier>
                      </exp:Pre>
                      2
                    </exp:LogEq>
                  </fun:Condition>
                  <fun:Statements>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                      <fun:Expression>
                        2
                      </fun:Expression>
                    </fun:Assign>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="counter"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:Identifier>
                          <exp:QualifiedNamePart name="q"/>
                          <exp:QualifiedNamePart name="CrossingTimer"/>
                        </exp:Identifier>
                      </fun:Expression>
                    </fun:Assign>
                  </fun:Statements>
                  <fun:Else>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:Pre>
                          <exp:Identifier>
                            <exp:QualifiedNamePart name="q"/>
                            <exp:QualifiedNamePart name="x"/>
                          </exp:Identifier>
                        </exp:Pre>
                      </fun:Expression>
                    </fun:Assign>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="counter"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:RealLiteral>0.0</exp:RealLiteral>
                      </fun:Expression>
                    </fun:Assign>
                  </fun:Else>
                </fun:If>
              </fun:Statements>
              <fun:ElseIf>
                <fun:Condition>
                  <exp:LogEq>
                    <exp:Pre>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                    </exp:Pre>
                    2
                  </exp:LogEq>
                </fun:Condition>
                <fun:If>
                  <fun:Condition>
                    <exp:LogEq>
                      <exp:Pre>
                        <exp:Identifier>
                          <exp:QualifiedNamePart name="q"/>
                          <exp:QualifiedNamePart name="u"/>
                        </exp:Identifier>
                      </exp:Pre>
                      2
                    </exp:LogEq>
                  </fun:Condition>
                  <fun:Statements>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                      <fun:Expression>
                        3
                      </fun:Expression>
                    </fun:Assign>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="counter"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:Identifier>
                          <exp:QualifiedNamePart name="q"/>
                          <exp:QualifiedNamePart name="PastTimer"/>
                        </exp:Identifier>
                      </fun:Expression>
                    </fun:Assign>
                  </fun:Statements>
                  <fun:Else>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:Pre>
                          <exp:Identifier>
                            <exp:QualifiedNamePart name="q"/>
                            <exp:QualifiedNamePart name="x"/>
                          </exp:Identifier>
                        </exp:Pre>
                      </fun:Expression>
                    </fun:Assign>
                    <fun:Assign>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="q"/>
                        <exp:QualifiedNamePart name="counter"/>
                      </exp:Identifier>
                      <fun:Expression>
                        <exp:RealLiteral>0.0</exp:RealLiteral>
                      </fun:Expression>
                    </fun:Assign>
                  </fun:Else>
                </fun:If>
              </fun:ElseIf>
              <fun:Else>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="q"/>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  <fun:Expression>
                    3
                  </fun:Expression>
                </fun:Assign>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="q"/>
                    <exp:QualifiedNamePart name="counter"/>
                  </exp:Identifier>
                  <fun:Expression>
                    <exp:RealLiteral>0.0</exp:RealLiteral>
                  </fun:Expression>
                </fun:Assign>
              </fun:Else>
            </fun:If>
          </fun:Statements>
          <fun:Else>
            <fun:Assign>
              <exp:Identifier>
                <exp:QualifiedNamePart name="q"/>
                <exp:QualifiedNamePart name="counter"/>
              </exp:Identifier>
              <fun:Expression>
                <exp:Sub>
                  <exp:Pre>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="q"/>
                      <exp:QualifiedNamePart name="counter"/>
                    </exp:Identifier>
                  </exp:Pre>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="q"/>
                    <exp:QualifiedNamePart name="T"/>
                  </exp:Identifier>
                </exp:Sub>
              </fun:Expression>
            </fun:Assign>
          </fun:Else>
        </fun:If>
      </fun:Statements>

    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="counter"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="p"/>
            <exp:QualifiedNamePart name="counter"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="p"/>
        <exp:QualifiedNamePart name="x"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="p"/>
            <exp:QualifiedNamePart name="x"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition4"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="$whenCondition4"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition4"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Sample>
          <exp:IntegerLiteral>1</exp:IntegerLiteral>
          <exp:RealLiteral>0.0</exp:RealLiteral>
          <exp:Identifier>
            <exp:QualifiedNamePart name="p"/>
            <exp:QualifiedNamePart name="T"/>
          </exp:Identifier>
        </exp:Sample>
      </fun:Expression>
    </fun:Assign>
    <fun:When>
      <fun:Condition>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition4"/>
        </exp:Identifier>
      </fun:Condition>
      <fun:Statements>
        <fun:If>
          <fun:Condition>
            <exp:LogLeq>
              <exp:Pre>
                <exp:Identifier>
                  <exp:QualifiedNamePart name="p"/>
                  <exp:QualifiedNamePart name="counter"/>
                </exp:Identifier>
              </exp:Pre>
              <exp:RealLiteral>0.0</exp:RealLiteral>
            </exp:LogLeq>
          </fun:Condition>
          <fun:Statements>
            <fun:If>
              <fun:Condition>
                <exp:LogEq>
                  <exp:Pre>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="p"/>
                      <exp:QualifiedNamePart name="x"/>
                    </exp:Identifier>
                  </exp:Pre>
                  1
                </exp:LogEq>
              </fun:Condition>
              <fun:Statements>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  <fun:Expression>
                    2
                  </fun:Expression>
                </fun:Assign>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="counter"/>
                  </exp:Identifier>
                  <fun:Expression>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="p"/>
                      <exp:QualifiedNamePart name="OrangeTimer"/>
                    </exp:Identifier>
                  </fun:Expression>
                </fun:Assign>
              </fun:Statements>
              <fun:ElseIf>
                <fun:Condition>
                  <exp:LogEq>
                    <exp:Pre>
                      <exp:Identifier>
                        <exp:QualifiedNamePart name="p"/>
                        <exp:QualifiedNamePart name="x"/>
                      </exp:Identifier>
                    </exp:Pre>
                    2
                  </exp:LogEq>
                </fun:Condition>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  <fun:Expression>
                    3
                  </fun:Expression>
                </fun:Assign>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="counter"/>
                  </exp:Identifier>
                  <fun:Expression>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="p"/>
                      <exp:QualifiedNamePart name="RedTimer"/>
                    </exp:Identifier>
                  </fun:Expression>
                </fun:Assign>
              </fun:ElseIf>
              <fun:Else>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="x"/>
                  </exp:Identifier>
                  <fun:Expression>
                    1
                  </fun:Expression>
                </fun:Assign>
                <fun:Assign>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="counter"/>
                  </exp:Identifier>
                  <fun:Expression>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="p"/>
                      <exp:QualifiedNamePart name="GreenTimer"/>
                    </exp:Identifier>
                  </fun:Expression>
                </fun:Assign>
              </fun:Else>
            </fun:If>
          </fun:Statements>
          <fun:Else>
            <fun:Assign>
              <exp:Identifier>
                <exp:QualifiedNamePart name="p"/>
                <exp:QualifiedNamePart name="counter"/>
              </exp:Identifier>
              <fun:Expression>
                <exp:Sub>
                  <exp:Pre>
                    <exp:Identifier>
                      <exp:QualifiedNamePart name="p"/>
                      <exp:QualifiedNamePart name="counter"/>
                    </exp:Identifier>
                  </exp:Pre>
                  <exp:Identifier>
                    <exp:QualifiedNamePart name="p"/>
                    <exp:QualifiedNamePart name="T"/>
                  </exp:Identifier>
                </exp:Sub>
              </fun:Expression>
            </fun:Assign>
          </fun:Else>
        </fun:If>
      </fun:Statements>

    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="m"/>
        <exp:QualifiedNamePart name="y"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="m"/>
            <exp:QualifiedNamePart name="y"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition2"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:Pre>
          <exp:Identifier>
            <exp:QualifiedNamePart name="$whenCondition2"/>
          </exp:Identifier>
        </exp:Pre>
      </fun:Expression>
    </fun:Assign>
    <fun:Assign>
      <exp:Identifier>
        <exp:QualifiedNamePart name="$whenCondition2"/>
      </exp:Identifier>
      <fun:Expression>
        <exp:And>
          <exp:Identifier>
            <exp:QualifiedNamePart name="m"/>
            <exp:QualifiedNamePart name="w"/>
          </exp:Identifier>
          <exp:Not>
            <exp:Pre>
              <exp:Identifier>
                <exp:QualifiedNamePart name="m"/>
                <exp:QualifiedNamePart name="w"/>
              </exp:Identifier>
            </exp:Pre>
          </exp:Not>
        </exp:And>
      </fun:Expression>
    </fun:Assign>
    <fun:When>
      <fun:Condition>
        <exp:Identifier>
          <exp:QualifiedNamePart name="$whenCondition2"/>
        </exp:Identifier>
      </fun:Condition>
      <fun:Statements>
        <fun:Assign>
          <exp:Identifier>
            <exp:QualifiedNamePart name="m"/>
            <exp:QualifiedNamePart name="y"/>
          </exp:Identifier>
          <fun:Expression>
            <exp:RealLiteral>1.0</exp:RealLiteral>
          </fun:Expression>
        </fun:Assign>
      </fun:Statements>
    </fun:When>
  </fun:Algorithm>

  <fun:RecordsList>
  </fun:RecordsList>

  <fun:FunctionsList>
  </fun:FunctionsList>


</OpenModelicaModelDescription>
